In [ ]:
#1 Question

expression (*)
value ('hello')
value (-87.8)
expression (-)
expression (/)
expression (+)
value (6)

In [ ]:
#2nd Question

String is a data type which is enclosed in single, double or thrible quotes.
Variable is used to store data of different types.

Ex: a="Sneha"
Here, a is variable name that stores a string 'Sneha'

In [ ]:
#3rd Question

1.int- int is a data type that is used to represent integer values(Ex:10)
2.float- float is a data type that is used to represent floating values(Ex:10.3)
3.String- string is a data type that is used to represent string values(Ex:"Sneha")

In [ ]:
#4th Question

Expressions contains values and mathematical operators, that are used to evalute the values.
Ex: 4+6+2(Expression)
    12   (evaluation of expression)

In [ ]:
#5th Question

spam=10 is assignment statement, it didn't print anything but it assigns value 10 to spam variable
Whereas, Expressions(2+3) contains values and mathematical operators, that are used to evalute the values.

In [1]:
#6th Question

bacon = 22
bacon + 1

23

In [5]:
#7th Question

print('spam'+'spamspam')
print('spam'*3)

spamspamspam
spamspamspam

In [ ]:
#8th Question

Variable names should not starts with numbers, but it can start with alphabets.
That's why egg is valid variable name, 100 is a invalid variable name.

In [7]:
#9th Question

a=10
print(int(a))  #int(value)==> to get integer version of value
print(float(a))#float(value)==> to get float version of value
print(str(a))  #str(value)==> to get string version of value

10
10.0
10

In [8]:
#10th Question

'I have eaten' + 99 + 'burritos.' # It raises error because, here we are trying to concatenate string values to integer value.

TypeError: can only concatenate str (not "int") to str

In [10]:
#Solution

#to solve the above error, convert integer value to string value

'I have eaten' + str(99) + 'burritos.'

'I have eaten99burritos.'